// Aliases
$brown: #6B4E32;
$maroon: #C84252;
$maroon2: #BD3E4D;
$sea-blue: #5A9AA8;
$light-sea-blue: #3F8EBB;
$dark-sea-blue: #1476a2;
$yellow: #ffeea8;
$pink: #d82168;
$blue: #1f6dd8;
$blue2: #007cbb;
$green: #4DA95F;
$sea-green: #429694;
$burn-siena: #CC6600;

// globe colors
$background-color : #fcfcfc;
$foreground-color : #333;

$font-size: 15px;
$font-family: "Source Sans Pro", Menlo, "Consolas", monospace;
$line-height : 1.2em;

// html document colors
$html-comment-color:    $sea-blue;
$html-tag-color:        $brown;
$html-attr-color:       $pink;
$html-value-color:      $blue;
$html-tag-foreground:   #333;

// css document colors
$css-comment-color:     $green;
$css-tag-foreground:    #333;
$css-number-color:      $light-sea-blue;
$css-important-color:   #0000FF;
$css-property-color:    $maroon;
$css-selector-color:    $dark-sea-blue;
$css-link-color:        $dark-sea-blue;

// javascript document colors
$javascript-comment-color:     $green;
$javascript-number-color:      $sea-green;
$javascript-tag-foreground:    #333;
$javascript-keyword-color:     $maroon;

// console styles
$console-foreground:        #333;
$console-link-color:        $dark-sea-blue;
$console-link-hover-color:  blue;
$console-bool-color:        $burn-siena;
$console-key-color:         $blue2;
$console-value-color:       $maroon2;
$console-line-border:       1px dashed #ddd;
$console-line-padding:      0 0;

// inspect settings
$inspect-css-match-foreground:      #333;
$inspect-css-match-background:      $yellow;
$inspect-css-property-color:        $maroon2;
$inspect-html-expand-background:    #eeeeee;
$inspect-html-expand-border-color:  #6a6a6a;
$inspect-html-selected-background:  $yellow;
